<!doctype html>
<html>
    <head>
        <title style="font-family: zedailyFont,Helvetica,Arial,sans-serif; text-align: center;">
            The Daily Quiz
        </title>
    </head>
    <body style="text-align:center;" >
        <h1 style="font-family: zedailyFont,Helvetica,Arial,sans-serif;"> 
            The Daily Quiz
        </h1>
        <p style="width: 600px;">
            <q>
                <i style="color:grey;">
                    {{ sentence_1 }}
                </i>
                <i style="font-size:300%;">
                    {{ sentence_2 }}
                </i>
                <i style="color:grey">
                    {{ sentence_3 }}
                </i>
            </q>
        </p>
    </body>
</html>