{% extends 'quiz.html' %}

{% block head %}
    {{ super() }}
    <head>
        <style>
          .flash{
            color:rgb(37, 153, 26);
            font-size: 20px;
            font-family: Lato,sans-serif;
          }
        </style>
    </head>
{% endblock %}


{% block content %}
{{ super() }}

<main class="container">
  <br>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</main>

{% endblock %}
