{% extends 'base.html' %}

{% block head %}
    <head>
        <!--  Creating a style guide for the long book description 
        https://www.w3schools.com/cssref/css3_pr_text-overflow.php -->
        <style> 
            div.long_description {
                white-space: normal; 
                width: 500px; 
                height: 100px;
                overflow: hidden;
                text-overflow: ellipsis;
                border: 1px solid #c7bfbf;
                background-color: #d9edf7;
            }
            
            div.long_description:hover {
                overflow: scroll; 
            } 
        </style> <!-- change to overflow: visible -->


    </head>
{% endblock %}

{% block content %}
    <body>

        <div class="container">
            <!-- WTForm - quiz question -->

            <!-- <form action="/" method="POST" role="form">-->
            <form action="/" method="POST" role="form">
                {{ form.crsf_token }}
                {{ form.name }}

                {% for question in form %}
                    <div class="question" style="color:hsl(210,30%,30%)">
                        <h2>Select the title of the book below:</h2>
                    </div>
                    <div class = "answer">
                        {{ question }}
                    </div>

                {% endfor %}
                <input type="submit" value="Submit">      
            </form>
        </div>

        <!-- book -- description - quiz question -->
        <div class="long_description">
            {{ description_answer }}
        </div>

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </body>
{% endblock %}
